<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./partials/head'); %>
        <link rel="stylesheet" href="../public/css/main.css" type="text" />
        <link rel="stylesheet" href="../public/css/login-page.css" type="text" />
</head>

<body class="bg-secondary">
    <%- include('./partials/header'); %>

        <div class="row my-5">
            <div class="min-h-40 m-auto col-6 col-md-5 col-lg-4 text-center rounded bg-light"
                style="  background-color: rgb(51, 62, 120)">
                <h1 id="errorCode"></h1>
                <div id="errorBody" class="m-auto col-8 min-h-40 ">
                    <p id="errorText" class="my-5"></p>
                    <a href="/" class="btn btn-primary col-8 col-lg-7 xl-4">Back To Homepage</a>
                </div>
            </div>
        </div>

        <%- include('./partials/footer'); %>
            <script>
                $(() => {
                    let code = window.location.search.split("=")[1];

                    switch (parseInt(code)) {
                        case 404:
                            $('#errorText').text('Page not found')
                            break;
                        case 403:
                            $('#errorText').text('Access denied')
                            break;
                        case 401:
                            $('#errorText').text('Access denied')
                            break;
                        case 400:
                            $('#errorText').text('Something went wrong. Please try again later')
                            break;
                        default:
                            code = 500;
                            $('#errorText').text('Internal server error')
                            break;
                    }
                    $('#errorCode').text(code)

                })
            </script>
</body>

</html>