.bordered-icon {
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 25px;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.85);
}
.user-nav {
  border-bottom: 1px solid grey;
  padding-bottom: 15px;
}

#loginError {
  color: red;
  display: none;
}

#tooltip {
  position: absolute;
  background-color: white;
  padding: 1%;
  margin-left: -1.5%;
  margin-top: 0.5%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px black;
  max-width: 100px;
}

#tooltip a {
  color: black;
  text-decoration: none;
}

#tooltip td:hover {
  border-radius: 5px;
}

#tooltip tr:hover {
  background-color: gray;
  cursor: pointer;
}

.topRightBadge {
  position: absolute;
  margin-left: -40%;
}
