.bordered-icon {
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 25px;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.85);
}
.user-nav {
  border-bottom: 1px solid grey;
  padding-bottom: 15px;
}

#loginError {
  color: red;
  display: none;
}
