* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  cursor: pointer;
}

.link {
  cursor: pointer;
}

#errorCode {
  font-size: 8rem;
  font-weight: 700;
  color: red;
  text-decoration-line: underline;
}

#errorText {
  font-size: 2rem;
  font-weight: 400;
}

.container-fluid {
  padding: 0 !important;
}
.min-fit {
  min-height: 66.5vh !important;
}
.capitalize {
  text-transform: capitalize;
}
.min-h-40 {
  min-height: 30vh !important;
}
.nav-link {
  cursor: pointer !important;
}

.category-tab {
  color: white;
}
.category-tab.active {
  color: black;
}

.map-min-ratio {
  min-height: 60vh;
}
#map {
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  cursor: pointer;
}
.overlay > p {
  z-index: 100;
}
.overlay:hover {
  position: fixed;
}
.toast-link {
  font-weight: bold;
  text-decoration: none;
}
.toast-link:hover {
  text-decoration-line: underline;
}

.shopNowLink {
  border: 2px solid rgb(81, 75, 75);
  border-radius: 15px;
  font-size: 5rem;
  min-width: fit-content;
  padding: 0.5rem 2rem;
}
