* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid {
  padding: 0 !important;
}
.min-fit {
  min-height: 66.5vh !important;
}
.capitalize {
  text-transform: capitalize;
}
.min-h-40 {
  min-height: 30vh !important;
}
.nav-link {
  cursor: pointer !important;
}
.map-min-ratio {
  min-height: 60vh;
}
#map {
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  cursor: pointer;
}
.overlay > p {
  z-index: 100;
}
.overlay:hover {
  position: fixed;
}
