*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid,.row{
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
.main-footer {
    width: 100%;
}

