.chartContianer {
  border-radius: 15px;
  padding-top: 1%;
  box-shadow: 0px 6px 15px 5px rgba(96, 102, 199, 0.75);
  -webkit-box-shadow: 0px 6px 15px 5px rgba(96, 102, 199, 0.75);
  -moz-box-shadow: 0px 6px 15px 5px rgba(96, 102, 199, 0.75);
}
