<div id="overlay" class="row m-0 p-0 overlay d-none" onclick='toggleOverlay()'>
    <p id="overlayText" class="m-auto col-8 col-lg-4 bg-white h-fit p-5 rounded">
        HERE WILL BE MODAL BUTTON FOR ERRORS
    </p>
</div>