<div id="overlay" class="row m-0 p-0 overlay d-none">
    <div class="m-auto col-8 col-lg-4 bg-white h-fit p-5 rounded">
        <p id="overlayText">HERE WILL BE MODAL BUTTON FOR ERRORS</p>
        <button id="overlay-dismiss-btn" class="btn btn-primary">
            Dismiss
        </button>
    </div>


</div>